POWER AND LOG FUNCTIONS

In [ ]:
import pandas as pd
import math
data = {'Cars':['KIA','Duster','Ford fiesta'],
        'Ratings':[10,9,6]}
df = pd.DataFrame(data)
df

          Cars  Ratings
0          KIA       10
1       Duster        9
2  Ford fiesta        6

In [ ]:
df['exp'] = ''
df['expm'] = ''
df['log'] = ''
df['power'] = ''
df['sq_rt'] = ''
for i in range(0,len(df)):
  df.exp[i] = math.exp(df.Ratings[i])
  df.expm[i] = math.expm1(df.Ratings[i])
  df.log[i] = math.log(df.Ratings[i])
  df.power[i] = math.pow(df.Ratings[i],3)
  df.sq_rt[i] = math.sqrt(df.Ratings[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
df

          Cars  Ratings      exp     expm      log power    sq_rt
0          KIA       10  22026.5  22025.5  2.30259  1000  3.16228
1       Duster        9  8103.08  8102.08  2.19722   729        3
2  Ford fiesta        6  403.429  402.429  1.79176   216  2.44949