In [ ]:
########################################################

#Copyright (c) DeepSphere.AI 2021

# All rights reserved

# We are sharing this partial code for learning and research, and the idea behind us sharing the source code is to stimulate ideas #and thoughts for the learners to develop their MLOps.

# Author: # DeepSphere.AI | deepsphere.ai | dsschoolofai.com | info@deepsphere.ai

# Release: Initial release

#######################################################

In [3]:
import math
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
!ls '/content/gdrive/MyDrive/BCA_S2_U6'

M1  M3	U6-M1.csv  U6-M2.csv  U6_M3.csv

In [16]:
df = pd.read_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6_M3.csv')
df = df.drop(['radians'],axis=1)
df

   Unnamed: 0  view_height  elevation_angle
0           0           90               30
1           1           90               60
2           2           90               36
3           3           60               70
4           4           60               45
5           5           60               80
6           6           80               30
7           7           80               60
8           8           80               36
9           9           80               70

RADIANS()

    The function math.radians() returns the radians value of the passed degree.

In [17]:
df['radians'] = ''
for i in range(0,len(df)):
  df.radians[i] = math.radians(df.elevation_angle[i])

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Unnamed: 0  view_height  elevation_angle   radians
0           0           90               30  0.523599
1           1           90               60  1.047198
2           2           90               36  0.628319
3           3           60               70   1.22173
4           4           60               45  0.785398
5           5           60               80  1.396263
6           6           80               30  0.523599
7           7           80               60  1.047198
8           8           80               36  0.628319
9           9           80               70   1.22173

In [18]:
df.to_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6_M3.csv')