In [ ]:
########################################################

#Copyright (c) DeepSphere.AI 2021

# All rights reserved

# We are sharing this partial code for learning and research, and the idea behind us sharing the source code is to stimulate ideas #and thoughts for the learners to develop their MLOps.

# Author: # DeepSphere.AI | deepsphere.ai | dsschoolofai.com | info@deepsphere.ai

# Release: Initial release

#######################################################

In [2]:
import pandas as pd
import math

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
!ls '/content/gdrive/MyDrive/BCA_S2_U6'

M1  M3	U6-M1.csv  U6-M2.csv  U6_M3.csv

In [13]:
df = pd.read_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6-M2.csv')
df

      cars  rating
0   Seltos     9.0
1   Duster     8.2
2      i20     8.5
3   Dezire     9.0
4    Swift     9.2
5  Waganor     9.5
6   Altroz     9.7
7    Xcent     7.8
8     Figo     9.2
9  Ecospot     8.0

In [14]:
df['sq_rt'] = ''
for i in range(0,len(df)):
  df.sq_rt[i] = math.sqrt(df.rating[i])
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      cars  rating     sq_rt
0   Seltos     9.0       3.0
1   Duster     8.2  2.863564
2      i20     8.5  2.915476
3   Dezire     9.0       3.0
4    Swift     9.2   3.03315
5  Waganor     9.5  3.082207
6   Altroz     9.7  3.114482
7    Xcent     7.8  2.792848
8     Figo     9.2   3.03315
9  Ecospot     8.0  2.828427