########################################################

#Copyright (c) DeepSphere.AI 2021

# All rights reserved

# We are sharing this partial code for learning and research, and the idea behind us sharing the source code is to stimulate ideas #and thoughts for the learners to develop their MLOps.

# Author: # DeepSphere.AI | deepsphere.ai | dsschoolofai.com | info@deepsphere.ai

# Release: Initial release

#######################################################

In [3]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
!ls '/content/gdrive/MyDrive/BCA_S2_U6'

M1  M3	U6-M1.csv  U6-M2.csv  U6_M3.csv  U6-M4.csv

In [5]:
df = pd.read_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6-M4.csv')
df

         pi         e  nan       tau
0  3.141593  2.718282  NaN  6.283185

PZERO & NZERO

    The functions np.pzero and np.nzero() returns positive zero and negative zero respectively. The result is a float value.

In [8]:
df['pzero'] = [np.PZERO]
df['nzero'] = [np.NZERO]
df

         pi         e  nan       tau  pzero  nzero
0  3.141593  2.718282  NaN  6.283185    0.0   -0.0

In [9]:
df.to_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6-M4.csv',index=False)