In [ ]:
import pandas as pd
import math
data = {'view_height':[90,90,90],
        'Elevation_angle':[30,60,36]}
df = pd.DataFrame(data)
df

   view_height  Elevation_angle
0           90               30
1           90               60
2           90               36

In [ ]:
df['Tan_angle'] = ''
df['Wall_height'] = ''
for i in range(0,len(df)):
  #math.radians
  #math.tan
  df.Wall_height[i] = math.fabs((df.view_height[i])*(math.tan(math.pi/math.radians(df.Elevation_angle[i]))))
  # df.Wall_height[i] = math.fabs(df.Wall_height[i])
  df.Tan_angle[i] = math.fabs(math.tan(math.pi/math.radians(df.Elevation_angle[i])))
  # df.Tan_angle[i] = math.fabs(df.Tan_angle[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df

   view_height  Elevation_angle Wall_height Tan_angle
0           90               30     26.1906  0.291006
1           90               60     12.8292  0.142547
2           90               36     304.246   3.38052