In [ ]:
########################################################

#Copyright (c) DeepSphere.AI 2021

# All rights reserved

# We are sharing this partial code for learning and research, and the idea behind us sharing the source code is to stimulate ideas #and thoughts for the learners to develop their MLOps.

# Author: # DeepSphere.AI | deepsphere.ai | dsschoolofai.com | info@deepsphere.ai

# Release: Initial release

#######################################################

In [1]:
import pandas as pd 
import math

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
!ls '/content/gdrive/MyDrive/BCA_S2_U6'

M1  M3	U6-M1.csv  U6-M2.csv  U6_M3.csv

In [12]:
df = pd.read_csv('/content/gdrive/MyDrive/BCA_S2_U6/U6_M3.csv')
df

   view_height  elevation_angle
0           90               30
1           90               60
2           90               36
3           60               70
4           60               45
5           60               80
6           80               30
7           80               60
8           80               36
9           80               70

ASIN()

    Returns the arc sine of the passed value X. The result will be a float value from -pi/2 to pi/2.

In [13]:
df['sin']  = ''
df['asin'] = ''

# math.asin() needs the passed value x to be inbetween -1 and 1.
for i in range(0,len(df)):
  df.sin[i] = math.sin(math.radians(df.elevation_angle[i]))
  df.asin[i] = math.asin(df.sin[i])

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   view_height  elevation_angle       sin      asin
0           90               30       0.5  0.523599
1           90               60  0.866025  1.047198
2           90               36  0.587785  0.628319
3           60               70  0.939693   1.22173
4           60               45  0.707107  0.785398
5           60               80  0.984808  1.396263
6           80               30       0.5  0.523599
7           80               60  0.866025  1.047198
8           80               36  0.587785  0.628319
9           80               70  0.939693   1.22173